.controls {
  clear: both;
  margin-top: 1em;
  width: 100%;
}

.feedback {
  font-size: xx-large;
  line-height: 40px;
  display: inline-block;
  margin-left: 1em;
  font-weight: bold;
}

.run-button { 
  margin-right: 1em;
}

.ai-title {
  font-size: 18pt;
  vertical-align: text-top;
}
